/example
/src
/dist/src/__tests__
/dist/example
/coverage
/node_modules
.cache
.rts2_cache_*

babel.config.js
jest.config.js
tsconfig.json
yarn.lock
.editorconfig
.idea
.vscode

npm-debug.log*
yarn-error.log*
starfield-react-*
