* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #252525;
    overflow-x: hidden;
}

.demo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.demo-container canvas {
    margin: 10px;
}